---
import ExperienceItem from './ExperienceItem.astro'
import type { PortfolioContent } from '@/i18n/types'

interface Props {
  content: PortfolioContent
}

const { content } = Astro.props
---

<div class="flex flex-col">
  {
    content.experience.map((experience) => (
      <ExperienceItem {...experience} learnMore={content.ui.learnMore} />
    ))
  }
</div>
