---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="flex flex-col md:flex-row items-center gap-8">
  <div class="flex-1 max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="inline-block size-16 rounded-full ring-2 ring-gray-200 dark:ring-gray-700"
        src="cloud head.png"
        alt={personalImageAlt}
      />
      <a
        href="https://www.linkedin.com/in/juandiegocalleg/"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Hey, soy Juan Diego <br>
      pero me dicen <span class="text-purple-500 dark:text-purple-500">Nube</span>
    </h1>
    <br>
    <div style="display: flex; gap: 10px;">
      <Badge>Español-Nativo</Badge>
      <Badge>Ingles-B1</Badge>
    </div>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-purple-500  [&>strong]:text-purple-500  [&>strong]:font-semibold dark:text-gray-300"
    >
      +3 años de experiencia. <strong
        >Ingeniero de Software y Analista de Datos</strong
      > de Medellin,Colombia. Especializado en el desarrollo de aplicaciones web y el análisis de datos enfocado en la generación de valor.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="juandiegocalleg@gmail.com">
        <MailIcon class="size-4" />
        Contáctame
      </SocialPill>
      <SocialPill href="https://linkedin.com/in/midudev">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://drive.google.com/file/d/1tZPGkOKP7ya2OQEeO7xeU5JforQ7ufO_/view?usp=sharing">
        Mi CV
      </SocialPill>
      <SocialPill href="https://github.com/">
        Mi Github
      </SocialPill>
    </nav>
  </div>
  <div class="flex-1 flex justify-center">
    <img
      class="w-80 h-100 "
      src="character walking.png"
      alt={personalImageAlt}
    />
  </div>
</div>
