---
const { href, class: className, ...rest } = Astro.props
---

<a
  href={href}
  {...rest}
  target="_blank"
  class:list={['link-accent', 'inline-flex', 'items-center', 'gap-1', 'text-sm', 'font-medium', className]}
>
  <slot />
</a>
